<div class="message-board-container">
  <h1>Members Message Board</h1>

  <div id="new-post-modal">
    <h2>Something to say?</h2>
    <form class="post-form" method="POST" action="/home/new">
      <div class="new-post-card">
        <input
          class="text-input-posts"
          placeholder="Title"
          name="title"
          type="text"
          required
        />
        <textarea
          class="text-area-input"
          name="post"
          type="text"
          placeholder="What's up today?"
          required
        ></textarea>
        <button class="submit-post-btn">Submit</button>
      </div>
    </form>
  </div>

  <div class="posts-wrapper">
    <% if (locals.currentUser.member) { %> <% for( let i = 0; i < posts.length;
    i++ ) { %>
    <div class="post-card">
      <h2 class="post-title"><%= posts[i].title %></h2>
      <p class="post-message"><%= posts[i].message %></p>
      <span class="about-post-span"
        ><p class="post-user"><em><%= posts[i].user.userName %></em></p>
        <% if (String(posts[i].createdAt) === String(posts[i].updatedAt)) { %>
        <p class="post-date"><%= posts[i].createdAt %></p>
        <% } else { %>
        <p class="post-date"><em>edited: </em><%= posts[i].updatedAt %></p>
        <% } %>
      </span>
      <span>
        <% if (locals.currentUser._id.equals(posts[i].user._id)) { %>
        <a href="<%= posts[i].url %>/edit"
          ><img class="edit-popup-init" src="/icons/edit.svg" alt="edit"
        /></a>
        <% } %> <% if (locals.currentUser.isAdmin ||
        locals.currentUser._id.equals(posts[i].user._id)) { %>
        <img class="delete-popup-init" src="/icons/delete.svg" alt="delete" />
        <div class="delete-modal">
          <div class="delete-warning-popup">
            <span class="return-delete"
              ><img class="return-delete-btn" src="/icons/close.svg" alt="x"
            /></span>
            <h1>Are you sure?</h1>
            <p>This can't be undone.</p>
          </div>
          <form
            class="form-delete"
            method="POST"
            action="<%= posts[i].url %>/delete/submit"
          >
            <input value="submit" type="hidden" />
            <button class="delete-btn">Delete</button>
          </form>
        </div>
        <% } %>
      </span>
    </div>
    <% } %> <% } else { %> <% for( let i = 0; i < posts.length; i++ ) { %>
    <div>
      <h2><%= posts[i].title %></h2>
      <p>Become a member to view</p>
      <span
        ><p><%= posts[i].user.userName %></p>
        <% if (String(posts[i].createdAt) === String(posts[i].updatedAt)) { %>
        <p><%= posts[i].createdAt %></p>
        <% } else { %>
        <p><em>edited: </em><%= posts[i].updatedAt %></p>
        <% } %>
      </span>
    </div>
    <% } %> <% } %>
  </div>
</div>
