<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.user) { %>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/full-view.ejs') %> <% } else { %><%-
    include('./partials/log-in.ejs') %><% } %>
  </body>
</html>
